

.highlight{
    margin-bottom: 0 !important;
}

.highlight .highlight-item{
  height: 416px;
  background: url(images/home/banner/highlight.jpg)
  no-repeat  center/cover ;
  color: #ffffff;
  display:flex;
  justify-content:center;
  align-items:center;
}
.highlight .highlight-item h1 {
font-size: 100px;
}

.thumbnail-item {
    border-top:0.1rem solid #ffffff;
}
.thumbnail-item {
    border-right:0.1rem solid #ffffff;
}
.thumbnail-item:last-child{
    border:none
}
.thumbnail .thumbnail-item{
    blackground-repeat:no-repeat;
    blackground-position:center;
    blackground-size:cover;
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:10rem;
}