<header>
		<div class="has-text-centered">
			<!--เพื่อเลื่อนโลโก้ ไปอยู่ตรงกลาง เอาโค้ดมาจากbulma-->
			<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">BAS</a>
			<!--navbar-item คือคำสั่งหนึ่งของ bulma-->
			<a href="#" class="navbar-item">BOAT</a>
			<a href="#" class="navbar-item">SAM</a>
			<a href="#" class="navbar-item">KORN</a>
			<a href="#" class="navbar-item">JACK</a>
			<a href="#" class="navbar-item">PIDNU</a>
			<a href="#" class="navbar-item">NOTE</a>
			<a href="#" class="navbar-item">FEW</a>
		</nav>

	</header>